<a href="https://colab.research.google.com/github/fabienne-lab/CSI-4142/blob/main/ProjetCSI4142.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
#importing required packages
import pandas as pd
import seaborn as sns
import numpy as np

# Data loading

In [36]:
!gdown 1HLiXcB65wyen1c5tgFiwxJLJng283XMh

Downloading...
From: https://drive.google.com/uc?id=1HLiXcB65wyen1c5tgFiwxJLJng283XMh
To: /content/eda_data.csv
100% 3.12M/3.12M [00:00<00:00, 125MB/s]

In [37]:
#loading dataset
df=pd.read_csv('eda_data.csv')

In [38]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,age,python_yn,R_yn,spark,aws,excel,job_simp,seniority,desc_len,num_comp
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,47,1,0,0,0,1,data scientist,na,2536,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,36,1,0,0,0,0,data scientist,na,4783,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,10,1,0,1,0,1,data scientist,na,3461,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,55,1,0,0,0,0,data scientist,na,3883,3
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,22,1,0,0,0,1,data scientist,na,2728,3

# Data cleaning and transformation

##### Columns removing
Let's remove irrelevant column for our analysis.

In [39]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel', 'job_simp', 'seniority', 'desc_len',
       'num_comp'],
      dtype='object')

In [40]:
df = df.drop(columns = ["Unnamed: 0","Headquarters","Sector","age","Salary Estimate","Job Description","hourly","employer_provided","company_txt","job_state","Competitors","same_state","python_yn","R_yn","spark","aws","excel","seniority","desc_len","num_comp"])
df.head()

,Job Title,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Revenue,min_salary,max_salary,avg_salary,job_simp
0,Data Scientist,3.8,Tecolote Research\n3.8,"Albuquerque, NM",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,$50 to $100 million (USD),53,91,72.0,data scientist
1,Healthcare Data Scientist,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),63,112,87.5,data scientist
2,Data Scientist,4.8,KnowBe4\n4.8,"Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,$100 to $500 million (USD),80,90,85.0,data scientist
3,Data Scientist,3.8,PNNL\n3.8,"Richland, WA",1001 to 5000 employees,1965,Government,Energy,$500 million to $1 billion (USD),56,97,76.5,data scientist
4,Data Scientist,2.9,Affinity Solutions\n2.9,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Unknown / Non-Applicable,86,143,114.5,data scientist

In [41]:
#Number of rows
len(df.index)

742

### Checking for null or missing values

In [42]:
# Transform data by removing the "\n" in certain columns
df = df.replace("\n", " ", regex = True)
df.head()

,Job Title,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Revenue,min_salary,max_salary,avg_salary,job_simp
0,Data Scientist,3.8,Tecolote Research 3.8,"Albuquerque, NM",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,$50 to $100 million (USD),53,91,72.0,data scientist
1,Healthcare Data Scientist,3.4,University of Maryland Medical System 3.4,"Linthicum, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),63,112,87.5,data scientist
2,Data Scientist,4.8,KnowBe4 4.8,"Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,$100 to $500 million (USD),80,90,85.0,data scientist
3,Data Scientist,3.8,PNNL 3.8,"Richland, WA",1001 to 5000 employees,1965,Government,Energy,$500 million to $1 billion (USD),56,97,76.5,data scientist
4,Data Scientist,2.9,Affinity Solutions 2.9,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Unknown / Non-Applicable,86,143,114.5,data scientist

In [43]:
df.isnull().sum()

Job Title            0
Rating               0
Company Name         0
Location             0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Revenue              0
min_salary           0
max_salary           0
avg_salary           0
job_simp             0
dtype: int64

In [44]:
df.isna().sum()

Job Title            0
Rating               0
Company Name         0
Location             0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Revenue              0
min_salary           0
max_salary           0
avg_salary           0
job_simp             0
dtype: int64

In [45]:
(df == "na").sum()

Job Title              0
Rating                 0
Company Name           0
Location               0
Size                   0
Founded                0
Type of ownership      0
Industry               0
Revenue                0
min_salary             0
max_salary             0
avg_salary             0
job_simp             184
dtype: int64

There is some missing values in the job name simplification column (the last one).

Let's check what are the values in that column

In [46]:
df["job_simp"].unique()

array(['data scientist', 'na', 'analyst', 'data engineer', 'director',
       'manager', 'mle'], dtype=object)

In [47]:
df[(df["job_simp"] == "na")]

,Job Title,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Revenue,min_salary,max_salary,avg_salary,job_simp
8,Research Scientist,3.3,Rochester Regional Health 3.3,"Rochester, NY",10000+ employees,2014,Hospital,Health Care Services & Hospitals,$500 million to $1 billion (USD),38,84,61.0,na
16,"Scientist I/II, Biology",3.9,Blueprint Medicines 3.9,"Cambridge, MA",51 to 200 employees,2011,Company - Public,Biotech & Pharmaceuticals,$1 to $5 million (USD),67,137,102.0,na
43,Scientist,3.4,Edgewell Personal Care 3.4,"Allendale, NJ",5001 to 10000 employees,2015,Company - Public,Consumer Products Manufacturing,$2 to $5 billion (USD),52,113,82.5,na
48,Spectral Scientist/Engineer,4.7,Centauri 4.7,"Beavercreek, OH",501 to 1000 employees,1999,Company - Private,Aerospace & Defense,$100 to $500 million (USD),56,117,86.5,na
69,R&D Data Analysis Scientist,4.0,HP Inc. 4.0,"Vancouver, WA",10000+ employees,1939,Company - Public,Computer Hardware & Software,Unknown / Non-Applicable,65,130,97.5,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,"Research Scientist, Immunology - Cancer Biology",-1.0,Kronos Bio,"Cambridge, MA",Unknown,-1,Company - Private,-1,Unknown / Non-Applicable,100,140,120.0,na
736,"Principal, Data Science - Advanced Analytics",3.6,IQVIA 3.6,"Plymouth Meeting, PA",10000+ employees,2017,Company - Public,Biotech & Pharmaceuticals,$2 to $5 billion (USD),86,137,111.5,na
737,"Sr Scientist, Immuno-Oncology - Oncology",3.9,GSK 3.9,"Cambridge, MA",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,$10+ billion (USD),58,111,84.5,na
739,"Project Scientist - Auton Lab, Robotics Institute",2.6,Software Engineering Institute 2.6,"Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Unknown / Non-Applicable,56,91,73.5,na
741,Research Scientist – Security and Privacy,3.6,Riverside Research Institute 3.6,"Beavercreek, OH",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,$50 to $100 million (USD),61,126,93.5,na

As we can see, the most kind of data scientist job classified as "na" cannot be consider fully as data scientist jobs. In fact we got some "project scientist", "Senior scientist-neuroscience". Even if they contain some data scientist jobs, We will classify them as "Researcher".

For our analysis, we're gonna remove these kind of jobs from the dataset.

In [48]:
# Remove the job_simp "na" rows from the dataset
for i in range(len(df)) :
  if(df.loc[i,"job_simp"] == "na") :
    df.loc[i,"job_simp"] = "research"

In [49]:
df["job_simp"].unique()

array(['data scientist', 'research', 'analyst', 'data engineer',
       'director', 'manager', 'mle'], dtype=object)

Renaming some columns

In [50]:
df = df.rename({'Location' : 'City','job_simp' : 'Job_classification','min_salary' : 'Min Salary', 'max_salary' : 'Max Salary', 'avg_salary' : 'Avg Salary'},axis = 1)

In [51]:
temp_1 = df["City"].str.split(",", n = 1, expand = True)
df["City"] = temp_1[0]
df["State"] = temp_1[1]

In [52]:
df

,Job Title,Rating,Company Name,City,Size,Founded,Type of ownership,Industry,Revenue,Min Salary,Max Salary,Avg Salary,Job_classification,State
0,Data Scientist,3.8,Tecolote Research 3.8,Albuquerque,501 to 1000 employees,1973,Company - Private,Aerospace & Defense,$50 to $100 million (USD),53,91,72.0,data scientist,NM
1,Healthcare Data Scientist,3.4,University of Maryland Medical System 3.4,Linthicum,10000+ employees,1984,Other Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),63,112,87.5,data scientist,MD
2,Data Scientist,4.8,KnowBe4 4.8,Clearwater,501 to 1000 employees,2010,Company - Private,Security Services,$100 to $500 million (USD),80,90,85.0,data scientist,FL
3,Data Scientist,3.8,PNNL 3.8,Richland,1001 to 5000 employees,1965,Government,Energy,$500 million to $1 billion (USD),56,97,76.5,data scientist,WA
4,Data Scientist,2.9,Affinity Solutions 2.9,New York,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Unknown / Non-Applicable,86,143,114.5,data scientist,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",3.9,GSK 3.9,Cambridge,10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,$10+ billion (USD),58,111,84.5,research,MA
738,Senior Data Engineer,4.4,Eventbrite 4.4,Nashville,1001 to 5000 employees,2006,Company - Public,Internet,$100 to $500 million (USD),72,133,102.5,data engineer,TN
739,"Project Scientist - Auton Lab, Robotics Institute",2.6,Software Engineering Institute 2.6,Pittsburgh,501 to 1000 employees,1984,College / University,Colleges & Universities,Unknown / Non-Applicable,56,91,73.5,research,PA
740,Data Science Manager,3.2,"Numeric, LLC 3.2",Allentown,1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,$5 to $10 million (USD),95,160,127.5,manager,PA
741,Research Scientist – Security and Privacy,3.6,Riverside Research Institute 3.6,Beavercreek,501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,$50 to $100 million (USD),61,126,93.5,research,OH

In [53]:
df[df["Founded"]<1000].index

Int64Index([ 41,  45,  68, 141, 162, 186, 189, 198, 222, 230, 256, 264, 300,
            305, 307, 339, 341, 370, 373, 400, 404, 412, 438, 449, 451, 452,
            456, 458, 465, 493, 501, 511, 551, 559, 560, 575, 581, 598, 603,
            609, 620, 641, 658, 668, 675, 683, 700, 714, 730, 740],
           dtype='int64')

In [54]:
df[df["Revenue"].str.contains("Unknown")].index

Int64Index([  4,   6,  13,  15,  17,  18,  20,  21,  22,  34,
            ...
            709, 712, 716, 724, 728, 729, 730, 732, 733, 739],
           dtype='int64', length=203)

It could be interesting to keep the "Revenue" and the "Founded" columns for our analysis, but there is a lot of missing values or inconsistant values in both of theses columns. So, as they are not mandatory for the analysis, we are going to remove them.

In [55]:
df = df.drop(columns = ["Founded","Revenue"])

In [56]:
drop_index1 = df.loc[df["Size"] == "-1"].index

In [57]:
drop_index1

Int64Index([581], dtype='int64')

In [58]:
df = df.drop(index = drop_index1)

In [59]:
drop_index2 = df.loc[df["Industry"] == "-1"].index

In [60]:
df = df.drop(drop_index2)

In [61]:
drop_index3 = df.loc[df["Size"]=="Unknown"].index

In [62]:
df = df.drop(drop_index3)

In [63]:
drop_index4 = df.loc[df["Rating"] == -1].index

In [64]:
df = df.drop(drop_index4)

In [65]:
df

,Job Title,Rating,Company Name,City,Size,Type of ownership,Industry,Min Salary,Max Salary,Avg Salary,Job_classification,State
0,Data Scientist,3.8,Tecolote Research 3.8,Albuquerque,501 to 1000 employees,Company - Private,Aerospace & Defense,53,91,72.0,data scientist,NM
1,Healthcare Data Scientist,3.4,University of Maryland Medical System 3.4,Linthicum,10000+ employees,Other Organization,Health Care Services & Hospitals,63,112,87.5,data scientist,MD
2,Data Scientist,4.8,KnowBe4 4.8,Clearwater,501 to 1000 employees,Company - Private,Security Services,80,90,85.0,data scientist,FL
3,Data Scientist,3.8,PNNL 3.8,Richland,1001 to 5000 employees,Government,Energy,56,97,76.5,data scientist,WA
4,Data Scientist,2.9,Affinity Solutions 2.9,New York,51 to 200 employees,Company - Private,Advertising & Marketing,86,143,114.5,data scientist,NY
...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",3.9,GSK 3.9,Cambridge,10000+ employees,Company - Public,Biotech & Pharmaceuticals,58,111,84.5,research,MA
738,Senior Data Engineer,4.4,Eventbrite 4.4,Nashville,1001 to 5000 employees,Company - Public,Internet,72,133,102.5,data engineer,TN
739,"Project Scientist - Auton Lab, Robotics Institute",2.6,Software Engineering Institute 2.6,Pittsburgh,501 to 1000 employees,College / University,Colleges & Universities,56,91,73.5,research,PA
740,Data Science Manager,3.2,"Numeric, LLC 3.2",Allentown,1 to 50 employees,Company - Private,Staffing & Outsourcing,95,160,127.5,manager,PA
741,Research Scientist – Security and Privacy,3.6,Riverside Research Institute 3.6,Beavercreek,501 to 1000 employees,Nonprofit Organization,Federal Agencies,61,126,93.5,research,OH

Transform company size dat

In [66]:
Lower_bound= df['Size'].str.extract('(\d+)')
Upper_bound = df['Size'].str.extract('(\d+)').shift(-1).fillna(10000)

# convert lower and upper bounds to integers
Lower_bound = Lower_bound.astype(int)
Upper_bound= Upper_bound.astype(int)

# create cut points for the Employee_Range column
cut_points = [0,49, 200, 500, 1000, 5000,10000,20000]

# apply the pd.cut() function to the Employee_Range column
df['Size'] = pd.cut(Lower_bound[0], cut_points, labels=['<50', '51-200','201-500','501-1000','1001-5000','5001-10000','10000+'])

In [67]:
df

,Job Title,Rating,Company Name,City,Size,Type of ownership,Industry,Min Salary,Max Salary,Avg Salary,Job_classification,State
0,Data Scientist,3.8,Tecolote Research 3.8,Albuquerque,501-1000,Company - Private,Aerospace & Defense,53,91,72.0,data scientist,NM
1,Healthcare Data Scientist,3.4,University of Maryland Medical System 3.4,Linthicum,5001-10000,Other Organization,Health Care Services & Hospitals,63,112,87.5,data scientist,MD
2,Data Scientist,4.8,KnowBe4 4.8,Clearwater,501-1000,Company - Private,Security Services,80,90,85.0,data scientist,FL
3,Data Scientist,3.8,PNNL 3.8,Richland,1001-5000,Government,Energy,56,97,76.5,data scientist,WA
4,Data Scientist,2.9,Affinity Solutions 2.9,New York,51-200,Company - Private,Advertising & Marketing,86,143,114.5,data scientist,NY
...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",3.9,GSK 3.9,Cambridge,5001-10000,Company - Public,Biotech & Pharmaceuticals,58,111,84.5,research,MA
738,Senior Data Engineer,4.4,Eventbrite 4.4,Nashville,1001-5000,Company - Public,Internet,72,133,102.5,data engineer,TN
739,"Project Scientist - Auton Lab, Robotics Institute",2.6,Software Engineering Institute 2.6,Pittsburgh,501-1000,College / University,Colleges & Universities,56,91,73.5,research,PA
740,Data Science Manager,3.2,"Numeric, LLC 3.2",Allentown,<50,Company - Private,Staffing & Outsourcing,95,160,127.5,manager,PA
741,Research Scientist – Security and Privacy,3.6,Riverside Research Institute 3.6,Beavercreek,501-1000,Nonprofit Organization,Federal Agencies,61,126,93.5,research,OH

# Generate surrogate keys

In [68]:
df["Surrogate Keys"] = range(1,len(df)+1)

In [69]:
df

,Job Title,Rating,Company Name,City,Size,Type of ownership,Industry,Min Salary,Max Salary,Avg Salary,Job_classification,State,Surrogate Keys
0,Data Scientist,3.8,Tecolote Research 3.8,Albuquerque,501-1000,Company - Private,Aerospace & Defense,53,91,72.0,data scientist,NM,1
1,Healthcare Data Scientist,3.4,University of Maryland Medical System 3.4,Linthicum,5001-10000,Other Organization,Health Care Services & Hospitals,63,112,87.5,data scientist,MD,2
2,Data Scientist,4.8,KnowBe4 4.8,Clearwater,501-1000,Company - Private,Security Services,80,90,85.0,data scientist,FL,3
3,Data Scientist,3.8,PNNL 3.8,Richland,1001-5000,Government,Energy,56,97,76.5,data scientist,WA,4
4,Data Scientist,2.9,Affinity Solutions 2.9,New York,51-200,Company - Private,Advertising & Marketing,86,143,114.5,data scientist,NY,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",3.9,GSK 3.9,Cambridge,5001-10000,Company - Public,Biotech & Pharmaceuticals,58,111,84.5,research,MA,724
738,Senior Data Engineer,4.4,Eventbrite 4.4,Nashville,1001-5000,Company - Public,Internet,72,133,102.5,data engineer,TN,725
739,"Project Scientist - Auton Lab, Robotics Institute",2.6,Software Engineering Institute 2.6,Pittsburgh,501-1000,College / University,Colleges & Universities,56,91,73.5,research,PA,726
740,Data Science Manager,3.2,"Numeric, LLC 3.2",Allentown,<50,Company - Private,Staffing & Outsourcing,95,160,127.5,manager,PA,727
741,Research Scientist – Security and Privacy,3.6,Riverside Research Institute 3.6,Beavercreek,501-1000,Nonprofit Organization,Federal Agencies,61,126,93.5,research,OH,728

In [70]:
df = df.reindex(columns = ["Surrogate Keys"] + list([c for c in df.columns if c!= 'Surrogate Keys']))

In [71]:
df

,Surrogate Keys,Job Title,Rating,Company Name,City,Size,Type of ownership,Industry,Min Salary,Max Salary,Avg Salary,Job_classification,State
0,1,Data Scientist,3.8,Tecolote Research 3.8,Albuquerque,501-1000,Company - Private,Aerospace & Defense,53,91,72.0,data scientist,NM
1,2,Healthcare Data Scientist,3.4,University of Maryland Medical System 3.4,Linthicum,5001-10000,Other Organization,Health Care Services & Hospitals,63,112,87.5,data scientist,MD
2,3,Data Scientist,4.8,KnowBe4 4.8,Clearwater,501-1000,Company - Private,Security Services,80,90,85.0,data scientist,FL
3,4,Data Scientist,3.8,PNNL 3.8,Richland,1001-5000,Government,Energy,56,97,76.5,data scientist,WA
4,5,Data Scientist,2.9,Affinity Solutions 2.9,New York,51-200,Company - Private,Advertising & Marketing,86,143,114.5,data scientist,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,724,"Sr Scientist, Immuno-Oncology - Oncology",3.9,GSK 3.9,Cambridge,5001-10000,Company - Public,Biotech & Pharmaceuticals,58,111,84.5,research,MA
738,725,Senior Data Engineer,4.4,Eventbrite 4.4,Nashville,1001-5000,Company - Public,Internet,72,133,102.5,data engineer,TN
739,726,"Project Scientist - Auton Lab, Robotics Institute",2.6,Software Engineering Institute 2.6,Pittsburgh,501-1000,College / University,Colleges & Universities,56,91,73.5,research,PA
740,727,Data Science Manager,3.2,"Numeric, LLC 3.2",Allentown,<50,Company - Private,Staffing & Outsourcing,95,160,127.5,manager,PA
741,728,Research Scientist – Security and Privacy,3.6,Riverside Research Institute 3.6,Beavercreek,501-1000,Nonprofit Organization,Federal Agencies,61,126,93.5,research,OH

# Load the file

In [72]:
df.to_csv('Stagged_data.csv')