<a href="https://colab.research.google.com/github/fabienne-lab/CSI-4142/blob/main/ProjetCSI4142.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#importing required packages
import pandas as pd
import seaborn as sns
import numpy as np

# Data loading

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [4]:
!gdown 1HLiXcB65wyen1c5tgFiwxJLJng283XMh

Downloading...
From: https://drive.google.com/uc?id=1HLiXcB65wyen1c5tgFiwxJLJng283XMh
To: /content/eda_data.csv
100% 3.12M/3.12M [00:00<00:00, 104MB/s]

In [5]:
#loading dataset
df=pd.read_csv('eda_data.csv')

In [6]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,age,python_yn,R_yn,spark,aws,excel,job_simp,seniority,desc_len,num_comp
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,47,1,0,0,0,1,data scientist,na,2536,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,36,1,0,0,0,0,data scientist,na,4783,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,10,1,0,1,0,1,data scientist,na,3461,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,55,1,0,0,0,0,data scientist,na,3883,3
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,22,1,0,0,0,1,data scientist,na,2728,3

# Data transformation

##### Columns removing
Let's remove irrelevant column for our analysis.

In [7]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel', 'job_simp', 'seniority', 'desc_len',
       'num_comp'],
      dtype='object')

In [8]:
df = df.drop(columns = ["Unnamed: 0","Headquarters","Sector","age","Salary Estimate","Job Description","hourly","employer_provided","company_txt","job_state","Competitors","same_state","python_yn","R_yn","spark","aws","excel","seniority","desc_len","num_comp"])
df.head()

,Job Title,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Revenue,min_salary,max_salary,avg_salary,job_simp
0,Data Scientist,3.8,Tecolote Research\n3.8,"Albuquerque, NM",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,$50 to $100 million (USD),53,91,72.0,data scientist
1,Healthcare Data Scientist,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),63,112,87.5,data scientist
2,Data Scientist,4.8,KnowBe4\n4.8,"Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,$100 to $500 million (USD),80,90,85.0,data scientist
3,Data Scientist,3.8,PNNL\n3.8,"Richland, WA",1001 to 5000 employees,1965,Government,Energy,$500 million to $1 billion (USD),56,97,76.5,data scientist
4,Data Scientist,2.9,Affinity Solutions\n2.9,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Unknown / Non-Applicable,86,143,114.5,data scientist

In [9]:
#Number of rows
len(df.index)

742

### Checking for null or missing values

In [10]:
# Transform data by removing the "\n" in certain columns
df = df.replace("\n", " ", regex = True)
df.head()

,Job Title,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Revenue,min_salary,max_salary,avg_salary,job_simp
0,Data Scientist,3.8,Tecolote Research 3.8,"Albuquerque, NM",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,$50 to $100 million (USD),53,91,72.0,data scientist
1,Healthcare Data Scientist,3.4,University of Maryland Medical System 3.4,"Linthicum, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),63,112,87.5,data scientist
2,Data Scientist,4.8,KnowBe4 4.8,"Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,$100 to $500 million (USD),80,90,85.0,data scientist
3,Data Scientist,3.8,PNNL 3.8,"Richland, WA",1001 to 5000 employees,1965,Government,Energy,$500 million to $1 billion (USD),56,97,76.5,data scientist
4,Data Scientist,2.9,Affinity Solutions 2.9,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Unknown / Non-Applicable,86,143,114.5,data scientist

In [11]:
df.isnull().sum()

Job Title            0
Rating               0
Company Name         0
Location             0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Revenue              0
min_salary           0
max_salary           0
avg_salary           0
job_simp             0
dtype: int64

In [12]:
df.isna().sum()

Job Title            0
Rating               0
Company Name         0
Location             0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Revenue              0
min_salary           0
max_salary           0
avg_salary           0
job_simp             0
dtype: int64

In [13]:
(df == "na").sum()

Job Title              0
Rating                 0
Company Name           0
Location               0
Size                   0
Founded                0
Type of ownership      0
Industry               0
Revenue                0
min_salary             0
max_salary             0
avg_salary             0
job_simp             184
dtype: int64

There is some missing values in the job name simplification column (the last one).

Let's check what are the values in that column

In [14]:
df["job_simp"].unique()

array(['data scientist', 'na', 'analyst', 'data engineer', 'director',
       'manager', 'mle'], dtype=object)

In [15]:
df[(df["job_simp"] == "na")]

,Job Title,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Revenue,min_salary,max_salary,avg_salary,job_simp
8,Research Scientist,3.3,Rochester Regional Health 3.3,"Rochester, NY",10000+ employees,2014,Hospital,Health Care Services & Hospitals,$500 million to $1 billion (USD),38,84,61.0,na
16,"Scientist I/II, Biology",3.9,Blueprint Medicines 3.9,"Cambridge, MA",51 to 200 employees,2011,Company - Public,Biotech & Pharmaceuticals,$1 to $5 million (USD),67,137,102.0,na
43,Scientist,3.4,Edgewell Personal Care 3.4,"Allendale, NJ",5001 to 10000 employees,2015,Company - Public,Consumer Products Manufacturing,$2 to $5 billion (USD),52,113,82.5,na
48,Spectral Scientist/Engineer,4.7,Centauri 4.7,"Beavercreek, OH",501 to 1000 employees,1999,Company - Private,Aerospace & Defense,$100 to $500 million (USD),56,117,86.5,na
69,R&D Data Analysis Scientist,4.0,HP Inc. 4.0,"Vancouver, WA",10000+ employees,1939,Company - Public,Computer Hardware & Software,Unknown / Non-Applicable,65,130,97.5,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,"Research Scientist, Immunology - Cancer Biology",-1.0,Kronos Bio,"Cambridge, MA",Unknown,-1,Company - Private,-1,Unknown / Non-Applicable,100,140,120.0,na
736,"Principal, Data Science - Advanced Analytics",3.6,IQVIA 3.6,"Plymouth Meeting, PA",10000+ employees,2017,Company - Public,Biotech & Pharmaceuticals,$2 to $5 billion (USD),86,137,111.5,na
737,"Sr Scientist, Immuno-Oncology - Oncology",3.9,GSK 3.9,"Cambridge, MA",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,$10+ billion (USD),58,111,84.5,na
739,"Project Scientist - Auton Lab, Robotics Institute",2.6,Software Engineering Institute 2.6,"Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Unknown / Non-Applicable,56,91,73.5,na
741,Research Scientist – Security and Privacy,3.6,Riverside Research Institute 3.6,"Beavercreek, OH",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,$50 to $100 million (USD),61,126,93.5,na

As we can see, the most kind of data scientist job classified as "na" cannot be consider fully as data scientist jobs. In fact we got some "project scientist", "Senior scientist-neuroscience". Even if they contain some data scientist jobs, it's very hard to classify them.

For our analysis, we're gonna remove these kind of jobs from the dataset.

In [16]:
drop_index = df[(df["job_simp"] == "na")].index

In [17]:
# Remove the job_simp "na" rows from the dataset
df = df.drop(drop_index)

In [18]:
df["job_simp"].unique()

array(['data scientist', 'analyst', 'data engineer', 'director',
       'manager', 'mle'], dtype=object)

Renaming some columns

In [19]:
df = df.rename({'Location' : 'City','job_simp' : 'Job_classification','min_salary' : 'Min Salary', 'max_salary' : 'Max Salary', 'avg_salary' : 'Avg Salary'},axis = 1)

In [20]:
temp_1 = df["City"].str.split(",", n = 1, expand = True)
df["City"] = temp_1[0]
df["State"] = temp_1[1]

In [21]:
df

,Job Title,Rating,Company Name,City,Size,Founded,Type of ownership,Industry,Revenue,Min Salary,Max Salary,Avg Salary,Job_classification,State
0,Data Scientist,3.8,Tecolote Research 3.8,Albuquerque,501 to 1000 employees,1973,Company - Private,Aerospace & Defense,$50 to $100 million (USD),53,91,72.0,data scientist,NM
1,Healthcare Data Scientist,3.4,University of Maryland Medical System 3.4,Linthicum,10000+ employees,1984,Other Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),63,112,87.5,data scientist,MD
2,Data Scientist,4.8,KnowBe4 4.8,Clearwater,501 to 1000 employees,2010,Company - Private,Security Services,$100 to $500 million (USD),80,90,85.0,data scientist,FL
3,Data Scientist,3.8,PNNL 3.8,Richland,1001 to 5000 employees,1965,Government,Energy,$500 million to $1 billion (USD),56,97,76.5,data scientist,WA
4,Data Scientist,2.9,Affinity Solutions 2.9,New York,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Unknown / Non-Applicable,86,143,114.5,data scientist,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,Senior Data Analyst,3.9,Life360 3.9,San Francisco,51 to 200 employees,2008,Company - Public,Computer Hardware & Software,Unknown / Non-Applicable,99,178,138.5,analyst,CA
734,Data Science Project Manager,3.6,MassMutual 3.6,Boston,5001 to 10000 employees,1851,Company - Private,Insurance Carriers,$10+ billion (USD),37,100,68.5,manager,MA
735,Data Engineer,3.9,Fivestars 3.9,San Francisco,201 to 500 employees,2011,Company - Private,Internet,$100 to $500 million (USD),62,113,87.5,data engineer,CA
738,Senior Data Engineer,4.4,Eventbrite 4.4,Nashville,1001 to 5000 employees,2006,Company - Public,Internet,$100 to $500 million (USD),72,133,102.5,data engineer,TN
740,Data Science Manager,3.2,"Numeric, LLC 3.2",Allentown,1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,$5 to $10 million (USD),95,160,127.5,manager,PA

In [22]:
df[df["Founded"]<1000].index

Int64Index([ 41,  45,  68, 141, 162, 189, 222, 230, 256, 264, 307, 373, 400,
            412, 438, 449, 451, 452, 456, 458, 465, 511, 559, 560, 575, 598,
            603, 620, 658, 683, 700, 714, 740],
           dtype='int64')

In [23]:
df[df["Revenue"].str.contains("Unknown")].index

Int64Index([  4,   6,  13,  15,  17,  18,  20,  21,  22,  34,
            ...
            683, 684, 686, 687, 691, 693, 705, 709, 732, 733],
           dtype='int64', length=161)

It could be interesting to keep the "Revenue" and the "Founded" columns for our analysis, but there is a lot of missing values or inconsistant values in both of theses columns. So, as they are not mandatory for the analysis, we are going to remove them.

In [24]:
df = df.drop(columns = ["Founded","Revenue"])

# Generate surrogate keys

In [25]:
df["Surrogate Keys"] = range(1,len(df)+1)

In [26]:
df

,Job Title,Rating,Company Name,City,Size,Type of ownership,Industry,Min Salary,Max Salary,Avg Salary,Job_classification,State,Surrogate Keys
0,Data Scientist,3.8,Tecolote Research 3.8,Albuquerque,501 to 1000 employees,Company - Private,Aerospace & Defense,53,91,72.0,data scientist,NM,1
1,Healthcare Data Scientist,3.4,University of Maryland Medical System 3.4,Linthicum,10000+ employees,Other Organization,Health Care Services & Hospitals,63,112,87.5,data scientist,MD,2
2,Data Scientist,4.8,KnowBe4 4.8,Clearwater,501 to 1000 employees,Company - Private,Security Services,80,90,85.0,data scientist,FL,3
3,Data Scientist,3.8,PNNL 3.8,Richland,1001 to 5000 employees,Government,Energy,56,97,76.5,data scientist,WA,4
4,Data Scientist,2.9,Affinity Solutions 2.9,New York,51 to 200 employees,Company - Private,Advertising & Marketing,86,143,114.5,data scientist,NY,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,Senior Data Analyst,3.9,Life360 3.9,San Francisco,51 to 200 employees,Company - Public,Computer Hardware & Software,99,178,138.5,analyst,CA,554
734,Data Science Project Manager,3.6,MassMutual 3.6,Boston,5001 to 10000 employees,Company - Private,Insurance Carriers,37,100,68.5,manager,MA,555
735,Data Engineer,3.9,Fivestars 3.9,San Francisco,201 to 500 employees,Company - Private,Internet,62,113,87.5,data engineer,CA,556
738,Senior Data Engineer,4.4,Eventbrite 4.4,Nashville,1001 to 5000 employees,Company - Public,Internet,72,133,102.5,data engineer,TN,557
740,Data Science Manager,3.2,"Numeric, LLC 3.2",Allentown,1 to 50 employees,Company - Private,Staffing & Outsourcing,95,160,127.5,manager,PA,558

In [27]:
df = df.reindex(columns = ["Surrogate Keys"] + list([c for c in df.columns if c!= 'Surrogate Keys']))

In [28]:
df

,Surrogate Keys,Job Title,Rating,Company Name,City,Size,Type of ownership,Industry,Min Salary,Max Salary,Avg Salary,Job_classification,State
0,1,Data Scientist,3.8,Tecolote Research 3.8,Albuquerque,501 to 1000 employees,Company - Private,Aerospace & Defense,53,91,72.0,data scientist,NM
1,2,Healthcare Data Scientist,3.4,University of Maryland Medical System 3.4,Linthicum,10000+ employees,Other Organization,Health Care Services & Hospitals,63,112,87.5,data scientist,MD
2,3,Data Scientist,4.8,KnowBe4 4.8,Clearwater,501 to 1000 employees,Company - Private,Security Services,80,90,85.0,data scientist,FL
3,4,Data Scientist,3.8,PNNL 3.8,Richland,1001 to 5000 employees,Government,Energy,56,97,76.5,data scientist,WA
4,5,Data Scientist,2.9,Affinity Solutions 2.9,New York,51 to 200 employees,Company - Private,Advertising & Marketing,86,143,114.5,data scientist,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,554,Senior Data Analyst,3.9,Life360 3.9,San Francisco,51 to 200 employees,Company - Public,Computer Hardware & Software,99,178,138.5,analyst,CA
734,555,Data Science Project Manager,3.6,MassMutual 3.6,Boston,5001 to 10000 employees,Company - Private,Insurance Carriers,37,100,68.5,manager,MA
735,556,Data Engineer,3.9,Fivestars 3.9,San Francisco,201 to 500 employees,Company - Private,Internet,62,113,87.5,data engineer,CA
738,557,Senior Data Engineer,4.4,Eventbrite 4.4,Nashville,1001 to 5000 employees,Company - Public,Internet,72,133,102.5,data engineer,TN
740,558,Data Science Manager,3.2,"Numeric, LLC 3.2",Allentown,1 to 50 employees,Company - Private,Staffing & Outsourcing,95,160,127.5,manager,PA

# Load the file

In [30]:
df.to_csv('Stagged_data.csv')